.remove-device-btn {
  color: #c7c7c7;
  cursor: pointer;
  transition:
    background var(--transition),
    color var(--transition);
}

.remove-device-btn:hover {
  color: var(--white);
  background: var(--red);
}
