.spinner {
  display: inline-block;
  border: 0.7rem solid #e3e8ef;
  border-top: 0.7rem solid var(--primary);
  border-radius: var(--radius-round);
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}