.menu-bar.menu-bar--active {
  border-right: none;
  box-shadow: none;
}

.logo-placeholder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--space-xs);
  background: transparent;
  box-sizing: border-box;
  padding: 0;
}

.logo-placeholder img,
.logo-placeholder svg {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  object-fit: contain;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 12px;
}

.menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: var(--radius-md);
  padding: 0.6vw 0px;
  background: transparent;
  color: var(--white);
  font-weight: 500;
  cursor: pointer;
  border: none;
  margin-bottom: 4px;
  transition:
    background var(--transition),
    color var(--transition);
}

.menu-item.disabled {
  cursor: not-allowed;
}

.menu-item-text {
  margin-right: 0;
  display: block;
  text-align: center;
  color: var(--white);
  font-size: var(--text-sm);
}

.menu-item.active {
  color: var(--white);
}

.menu-item.active .menu-item-icon {
  background: var(--red-dark);
  border-radius: 20px;
  width: calc(var(--icon-size-md) * 2.5);
  padding: 4px 8px;
}

.menu-item:hover:not(.active):not(.disabled) .menu-item-icon {
  background: var(--red-dark);
  border-radius: 20px;
  width: calc(var(--icon-size-md) * 2.5);
  padding: 4px 8px;
}


.menu-item-icon {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 1px;
  transition:
    background var(--transition),
    border-radius var(--transition),
    width var(--transition),
    padding var(--transition);
}

.menu-item-icon img,
.menu-item-icon svg {
  width: clamp(2vw, 2vw, 2.3vw);
  height: clamp(2vw, 2vw, 2.3vw);
  filter: invert(1);
  object-fit: contain;
}

.menu-item.home .menu-item-icon img,
.menu-item.users .menu-item-icon img,
.menu-item.session .menu-item-icon img,
.menu-item.activities .menu-item-icon img {
  filter: brightness(0) invert(1) drop-shadow(0 0 0.2px white) drop-shadow(0 0 0.2px white);
}

.menu-bottom {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 32px;
  align-items: flex-start;
  width: 100%;
}

.menu-bottom .menu-item {
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 0;
}
