.menu-item {
  transition:
    background var(--transition),
    color var(--transition);
}

.menu-item-icon {
  transition:
    background var(--transition),
    border-radius var(--transition),
    width var(--transition),
    padding var(--transition);
}


.menu-item-icon svg {
  filter: invert(1);
}
.menu-item-icon img {
  filter: brightness(0) invert(1) drop-shadow(0 0 0.2px white) drop-shadow(0 0 0.2px white);
}
